* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background: #1f242d;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center the Home section horizontally */
    align-items: center; /* Center the Home section vertically */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

/* Home Section */
.Home {
    position: relative; /* Ensure positioning context */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
    flex: 1; /* Allows the text to take up available space */
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

/* Home Image */
.home-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute; /* Position it absolutely within the container */
    right: 15%; /* Align it to the right */
    top: 60%; /* Center it vertically within the container */
    transform: translateY(-60%); /* Adjust for the height of the element */
    margin-bottom: 30px;
}

.home-img img {
    width: 100%; /* Adjust the size of the image */
    height: 100%; /* Keep height equal to width for circular effect */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits within the circle without distortion */
    border: 2px solid #0ef; /* Optional: Add a border to make it stand out */
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
